#outline_div {
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    font-size: 14px;
    line-height: 1.42858;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
.blog_outline_active {
    border-bottom: 3px solid darkslategray;
    font-size: 16px;
    font-weight: bold;
}
.widget-outline .panel-heading {
    background-color: #FFF;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
}
.panel-default>.panel-heading {
    color: #333;
}
.widget-outline .panel-body ul{
    list-style-type: square;
}
.widget-outline {
    margin: 0;
    border-color: #ddd;
    line-height: 1.5;
}
.widget-outline {
    position: relative;
    top: 0;
    max-width: 250px;
    border: none;
    -moz-box-shadow: 0 0px 0px #fff;
    -webkit-box-shadow: 0 0px 0px #fff;
    box-shadow: 0 0px 0px #fff
}

.widget-outline .panel-heading {
    cursor: initial;
    padding-left: 18px
}

.post-nav {
    display: none;
    padding: 10px 0 10px 10px;
    background: #fff
}

.post-nav.side-outline {
    padding-left: 0;
    width: 100%;
    top: 0
}

.post-nav .panel-heading, .post-nav .nav-body {
    border-left: 1px solid #eee
}

.post-nav.side-outline .highlight-title {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    background: #f3f3f3;
    z-index: 1;
    border-left: 2px solid #009A61;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.post-nav .panel-body {
    position: relative;
    z-index: 2;
    overflow: hidden;
    max-height: inherit;
    padding: 0 0 10px;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.post-nav .articleIndex {
    position: relative;
    z-index: 2
}

.post-nav .nav-body {
    position: relative;
    padding: 0 18px
}

.post-nav .articleIndex li a {
    display: block;
    padding: 3px 0;
    color: #000
}

.post-nav .articleIndex li.active a {
    color: #009a61
}

.post-nav .articleIndex li.active {
    color: #009a61
}

.post-nav.fixed {
    position: fixed;
    top: 0;
    z-index: 1
}

.post-nav.absolute {
    position: absolute
}