<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">
    <property name="logDir" value="D:/souce_code/mine_source/nice-blog-sys/blog-sys-web/target/logs/"/>

    <!--文件滚动日志-->
    <appender name="ROLL_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/kiwipeach-blog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logDir}/kiwipeach-blog.%i.log.zip</fileNamePattern>
            <!--设置滚动窗口大小，表示在index从1~12之间滚动，按照队列先进先出进行日志滚动输出-->
            <minIndex>1</minIndex>
            <maxIndex>12</maxIndex>
        </rollingPolicy>
        <!--日志滚动触发条件-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy年MM月dd日 HH时:mm分:ss秒} %-5level %logger - %msg%n</pattern>
        </encoder>
        <!--
        %d{yyyy-MM-dd HH:mm:ss.SSS}——日志输出时间
        %thread——输出日志的进程名字，这在Web应用以及异步任务处理中很有用
        %5level——日志级别，并且使用5个字符靠右对齐
        %logger{36}——日志输出者的名字
        %msg——日志消息
        %n——平台的换行符
        -->
    </appender>
    <!-- 控制台 -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy年MM月dd日 HH时:mm分:ss秒} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <!--自定义目标包体下的日志输出级别-->
    <!-- <logger name="cn.kiwipeach.blog.service" level="trace" />-->

    <!--关闭热部署工具日日志-->
    <logger name="org.springframework.boot.devtools" level="OFF"/>
    <!--spring boot 调试日志 -->
    <logger name="org.springframework.boot.web" level="INFO"/>
    <!--关闭自动配置注解-->
    <logger name="org.springframework.boot.autoconfigure" level="INFO"/>
    <springProfile name="dev">
        <logger name="cn.kiwipeach.blog.mapper" level="debug"/>
    </springProfile>
    <springProfile name="prod">
        <logger name="cn.kiwipeach.blog.mapper" level="warn"/>
    </springProfile>
    <!-- 日志级别TRACE<DEBUG<INFO<WARN<ERROR -->
    <root level="INFO">
        <!--<appender-ref ref="ROLL_APPENDER"/>-->
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>
</configuration>