<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--****************认证授权测试*****************-->
    <!--Service服务实现类扫描-->
    <!--1. 配置 SecurityManager!-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/><!--缓存配置-->
        <property name="realm" ref="customRealm"/><!--认证授权Realm-->
        <property name="rememberMeManager" ref="rememberMeManager"></property><!--记住我功能-->
    </bean>
    <!--2.配置ehcache缓存-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>
    <!--3.配置JDBC的Realm-->
    <bean id="customRealm" class="cn.kiwipeach.blog.component.shiro.realam.CustomShiroRealm">
        <property name="name" value="customRealm"></property>
        <property name="credentialsMatcher" ref="credentialsMatcher"></property><!--该认证授权的Realm使用sha1方式进行加密-->
    </bean>
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="SHA1"></property>
        <property name="hashIterations" value="1024"></property>
    </bean>
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherService" ref="mmyCipherService"></property>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>
    <bean id="mmyCipherService" class="org.apache.shiro.crypto.AesCipherService"></bean>
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="shrio_remember"/>
        <property name="httpOnly" value="true"/>
        <!-- 默认记住7天（单位：秒） -->
        <property name="maxAge" value="600"/>
        <property name="domain" value="localhost"/>
    </bean>

    <!-- 4. 配置 LifecycleBeanPostProcessor. 可以自动的来调用配置在 Spring IOC 容器中 shiro bean 的生命周期方法-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 5. 启用 IOC 容器中使用 shiro 的注解. 但必须在配置了 LifecycleBeanPostProcessor 之后才可以使用. -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!--
    6. 配置 ShiroFilter.
    6.1 id 必须和 web.xml 文件中配置的 DelegatingFilterProxy 的 <filter-name> 一致.
                      若不一致, 则会抛出: NoSuchBeanDefinitionException. 因为 Shiro 会来 IOC 容器中查找和 <filter-name> 名字对应的 filter bean.
    -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/shiro/login"/>
        <property name="successUrl" value="/login/success"/>
        <property name="unauthorizedUrl" value="/unauthorized"/>
         <property name="filterChainDefinitionMap" ref="resourceFilterMap"/>
<!--        <property name="filterChainDefinitions">
            <value>
                &lt;!&ndash;第一次匹配优先规则&ndash;&gt;
                /** = anon
            </value>
        </property>-->
    </bean>

    <!--Shrio过滤器-->
    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="/login"/>
    </bean>

    <!--通过实例工厂获取权限过滤filterMap-->
    <bean id="resourceFilterMap" factory-bean="myFilterMapFactory" factory-method="loadResourceAccessRules"></bean>
    <!--工厂Bean-->
    <bean id="myFilterMapFactory" class="cn.kiwipeach.blog.component.shiro.factory.ResourceFilterMapFactory"></bean>
</beans>