<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.BlogTagMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.BlogTag">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="WEIGHT" property="weight"/>
        <result column="ICON" property="icon"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, WEIGHT, ICON, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->
    <!--cn.kiwipeach.blog.domain.vo.TagVO-->
    <resultMap id="tagVoResultMap" type="cn.kiwipeach.blog.domain.vo.TagVO">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="ICON" property="icon"/>
    </resultMap>


    <!--查询博客标签-->
    <select id="selectBlogTag" resultMap="tagVoResultMap">
        SELECT rt.blog_id, rt.tag_id, t.name, t.icon
        FROM r_tag_blog rt, t_blog_tag t
        WHERE rt.tag_id = t.id
        AND rt.blog_id = #{blogId}
    </select>




</mapper>
