<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.BlogMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.Blog">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="COMMENT_COUNT" property="commentCount"/>
        <result column="VIEW_COUNT" property="viewCount"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="ICON_URL" property="iconUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USER_ID, CATE_ID, TITLE, CONTENT, STAR_COUNT, COMMENT_COUNT,VIEW_COUNT, TOP, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->


    <resultMap type="cn.kiwipeach.blog.domain.vo.BlogInfoVO" id="blogInfoVOResultMap">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="NICK_NAME" property="nickName"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="COMMENT_COUNT" property="commentCount"/>
        <result column="VIEW_COUNT" property="viewCount"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="ICON_URL" property="iconUrl"/>
    </resultMap>
    <!--分页查询博客信息-->
    <select id="selectByPage" resultMap="blogInfoVOResultMap">
        SELECT b.ID, b.USER_ID, u.NICK_NAME, b.CATE_ID, c.NAME AS CATEGORY_NAME
        , b.TITLE, b.CONTENT, b.STAR_COUNT, b.COMMENT_COUNT, b.VIEW_COUNT
        , b.TOP, b.CREATE_TIME, b.UPDATE_TIME, b.CONTENT_TYPE, b.INTRODUCTION
        , b.ICON_URL
        FROM T_BLOG b
        LEFT JOIN T_BLOG_CATEGORY c ON b.cate_id = c.id
        LEFT JOIN SYS_USER u ON b.user_id = u.id
        <where>
            <if test="categoryId !=null and categoryId !=''">
                and b.CATE_ID = #{categoryId}
            </if>
            <if test="tagName !=null and tagName !=''">
                and b.id in (
                select rt.blog_id from R_TAG_BLOG rt, T_BLOG_TAG bt
                where bt.id = rt.tag_id
                and bt.name = #{tagName}
                )
            </if>
        </where>
        ORDER BY TOP DESC, CREATE_TIME DESC
    </select>

    <!--查询博客详情信息-->
    <select id="selectBlog" resultMap="blogInfoVOResultMap">
        SELECT b.ID, b.USER_ID, u.NICK_NAME, b.CATE_ID, c.NAME AS CATEGORY_NAME
            , b.TITLE, b.CONTENT, b.STAR_COUNT, b.COMMENT_COUNT, b.VIEW_COUNT
            , b.TOP, b.CREATE_TIME, b.UPDATE_TIME, b.CONTENT_TYPE, b.INTRODUCTION
            , b.ICON_URL
        FROM T_BLOG b
        LEFT JOIN T_BLOG_CATEGORY c ON b.cate_id = c.id
        LEFT JOIN SYS_USER u ON b.user_id = u.id
        WHERE b.id = #{blogId}
    </select>


    <!--查询博客上一篇,取分页的第一条数据即可-->
    <select id="selectPreviousBlog" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM T_BLOG t
        WHERE 1 = 1
        AND t.create_time <![CDATA[ >= ]]>
        (select create_time from T_BLOG where id = #{blogId})
        order by t.create_time ASC
    </select>

    <!--下一篇博客信息-->
    <select id="selectNextBlog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from T_BLOG t
        where 1 = 1
        and t.create_time <![CDATA[ <= ]]>
        (select create_time from T_BLOG where id = #{blogId})
        order by t.create_time desc
    </select>

    <!--博客统计数加1-->
    <update id="updateCommentCountByBlogId">
       UPDATE T_BLOG SET comment_count = comment_count + 1 WHERE id = #{blogId}
    </update>

    <!--博客浏览数加1-->
    <update id="updateBlogViewCountByBlogId">
        UPDATE T_BLOG SET view_count = view_count + 1 WHERE id = #{blogId}
    </update>

    <!--更新博客点赞数量-->
    <update id="updateBlogStarCount">
        UPDATE T_BLOG SET star_count = star_count+1 WHERE id = #{blogId}
    </update>

</mapper>
