<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.BlogMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.Blog">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="VIEWS" property="views"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="ICON_URL" property="iconUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USER_ID, CATE_ID, TITLE, CONTENT, STAR_COUNT, VIEWS, TOP, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->


    <resultMap type="cn.kiwipeach.blog.domain.vo.BlogInfoVO" id="blogInfoVOResultMap">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="VIEWS" property="views"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="ICON_URL" property="iconUrl"/>
        <collection property="blogTagList" ofType="cn.kiwipeach.blog.domain.vo.TagVO">
            <id column="TAGID" property="id"/>
            <result column="TAGNAME" property="name"/>
            <result column="TAGICON" property="icon"/>
        </collection>
    </resultMap>

    <!--分页查询博客信息-->
    <select id="selectByPage" resultMap="blogInfoVOResultMap">
                SELECT b.ID,
               b.USER_ID,
               b.CATE_ID,
               c.NAME as CATEGORY_NAME,
               b.TITLE,
               b.CONTENT,
               b.STAR_COUNT,
               b.VIEWS,
               b.TOP,
               b.CREATE_TIME,
               b.UPDATE_TIME,
               b.CONTENT_TYPE,
               b.INTRODUCTION,
               b.ICON_URL,
               tmp.TAG_ID as TAGID,
               tmp.NAME as TAGNAME,
               tmp.ICON AS TAGICON
          FROM T_BLOG b
          left join t_blog_category c on b.cate_id = c.id
          left join (select rt.blog_id, rt.tag_id, t.name,t.icon
                       from r_tag_blog rt, t_blog_tag t
                      where rt.tag_id = t.id) tmp on b.id = tmp.blog_id
         ORDER BY TOP DESC, UPDATE_TIME DESC
    </select>

</mapper>
