<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.BlogMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.Blog">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="VIEWS" property="views"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="ICON_URL" property="iconUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USER_ID, CATE_ID, TITLE, CONTENT, STAR_COUNT, VIEWS, TOP, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->


    <resultMap type="cn.kiwipeach.blog.domain.vo.BlogInfoVO" id="blogInfoVOResultMap">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="VIEWS" property="views"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CONTENT_TYPE" property="contentType"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="ICON_URL" property="iconUrl"/>
    </resultMap>

    <!--分页查询博客信息-->
    <select id="selectByPage" resultMap="blogInfoVOResultMap">
          SELECT b.ID,
               b.USER_ID,
               b.CATE_ID,
               c.NAME as CATEGORY_NAME,
               b.TITLE,
               b.CONTENT,
               b.STAR_COUNT,
               b.VIEWS,
               b.TOP,
               b.CREATE_TIME,
               b.UPDATE_TIME,
               b.CONTENT_TYPE,
               b.INTRODUCTION,
               b.ICON_URL
          FROM T_BLOG b
          left join t_blog_category c on b.cate_id = c.id
          <where>
              <if test="categoryId !=null and categoryId !=''">
                  b.CATE_ID = #{categoryId}
              </if>
              <if test="tagName !=null and tagName !=''">
                  b.id in (
                  select rt.blog_id from r_tag_blog rt, t_blog_tag bt
                  where bt.id = rt.tag_id
                  and bt.name = #{tagName}
                  )
              </if>
          </where>
         ORDER BY TOP DESC, UPDATE_TIME DESC
    </select>

    <!--查询博客详情信息-->
    <select id="selectBlog" resultMap="blogInfoVOResultMap">
         SELECT b.ID,
               b.USER_ID,
               b.CATE_ID,
               c.NAME as CATEGORY_NAME,
               b.TITLE,
               b.CONTENT,
               b.STAR_COUNT,
               b.VIEWS,
               b.TOP,
               b.CREATE_TIME,
               b.UPDATE_TIME,
               b.CONTENT_TYPE,
               b.INTRODUCTION,
               b.ICON_URL
          FROM T_BLOG b
          left join t_blog_category c on b.cate_id = c.id
          where b.id = #{blogId}
    </select>

    <!--查询博客上一篇-->
    <select id="selectPreviousBlog" resultMap="BaseResultMap">
        SELECT *
        FROM (SELECT TMP.*, ROWNUM ROW_ID
        FROM (
            select <include refid="Base_Column_List"></include>
            from t_blog t
            where 1 = 1
            and t.update_time <![CDATA[ >= ]]>
            (select update_time from t_blog where id = #{blogId})
            order by t.update_time asc
        ) TMP
        WHERE ROWNUM <![CDATA[ <= ]]> 2)
        WHERE ROW_ID <![CDATA[ > ]]> 1
    </select>

    <!--下一篇博客信息-->
    <select id="selectNextBlog" resultMap="BaseResultMap">
        SELECT *
        FROM (SELECT TMP.*, ROWNUM ROW_ID
        FROM (
            select <include refid="Base_Column_List"></include>
            from t_blog t
            where 1 = 1
            and t.update_time <![CDATA[ <= ]]>
            (select update_time from t_blog where id = #{blogId})
            order by t.update_time desc
        ) TMP
        WHERE ROWNUM <![CDATA[ <= ]]> 2)
        WHERE ROW_ID <![CDATA[ > ]]> 1




    </select>

</mapper>
