<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.BlogTagMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.BlogTag">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="WEIGHT" property="weight"/>
        <result column="ICON" property="icon"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, WEIGHT, ICON, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->
    <!--cn.kiwipeach.blog.domain.vo.TagVO-->
    <resultMap id="TagVoResultMap" type="cn.kiwipeach.blog.domain.vo.TagVO">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="ICON" property="icon"/>
    </resultMap>


    <!--查询单条博客的所有标签-->
    <select id="selectBlogTag" resultMap="TagVoResultMap">
        SELECT rt.blog_id, rt.tag_id as id, t.name, t.icon
        FROM r_tag_blog rt, t_blog_tag t
        WHERE rt.tag_id = t.id
        AND rt.blog_id = #{blogId}
    </select>

    <!--查询博客标签统计情况-->
    <select id="selectTagCountInfo" resultType="cn.kiwipeach.blog.domain.vo.TagCountVO">
        select bt.id as tagId, bt.name as tagName, count(1) as count
          from t_blog_tag bt, t_blog t, r_tag_blog rt
         where rt.tag_id = bt.id
           and rt.blog_id = t.id
         group by bt.id, bt.name
    </select>



</mapper>
