<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.CommentMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.Comment">
        <id column="ID" property="id"/>
        <result column="PARENT_COMMENT_TYPE" property="parentCommentType"/>
        <result column="TARGET_ID" property="targetId"/>
        <result column="USER_AID" property="userAid"/>
        <result column="USER_BID" property="userBid"/>
        <result column="CONTENT" property="content"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, PARENT_COMMENT_TYPE, TARGET_ID, USER_AID, USER_BID, CONTENT, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->

</mapper>
