<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.CommentReplyMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.CommentReply">
        <id column="ID" property="id"/>
        <result column="TYPE" property="type"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="ACTIVE_USER_ID" property="activeUserId"/>
        <result column="PASSIVE_USER_ID" property="passiveUserId"/>
        <result column="CONTENT" property="content"/>
        <result column="DELETED" property="deleted"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="REPLY_COUNT" property="replyCount"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, TYPE, PARENT_ID, ACTIVE_USER_ID, PASSIVE_USER_ID, CONTENT, DELETED, CREATE_TIME, UPDATE_TIME, STAR_COUNT, REPLY_COUNT
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->

    <select id="selectCommenByPage" resultType="cn.kiwipeach.blog.domain.vo.BlogCommentVO">
        select cr.ID,
            cr.TYPE,
            cr.PARENT_ID,
            cr.ACTIVE_USER_ID ,
            u1.nick_name AS ACTIVE_NICK_NAME,
            u1.head_url as ACTIVE_USER_HEAD_URL,
            cr.PASSIVE_USER_ID,
            u2.nick_name AS PASSIVE_NICK_NAME,
            u2.head_url as PASSIVE_USER_HEAD_URL,
            cr.CONTENT,
            cr.DELETED,
            cr.CREATE_TIME,
            cr.UPDATE_TIME,
            cr.STAR_COUNT,
            cr.REPLY_COUNT
        from t_comment_reply cr
        left join sys_user u1 on cr.ACTIVE_USER_ID = u1.id
        left join sys_user u2 on cr.PASSIVE_USER_ID = u2.id
        <where>
            <if test="type !=null and type !=''">
                and cr.type = #{type}
            </if>
            <if test="parentId !=null and parentId !=''">
                and cr.parent_id = #{parentId}
            </if>
        </where>
        order by cr.create_time desc

    </select>

</mapper>
