<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.SysRoleMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.SysRole">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="WEIGHT" property="weight"/>
        <result column="ICON" property="icon"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, WEIGHT, ICON, CREATE_TIME, UPDATE_TIME, DESCRIPTION
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->
    <!--用户角色实体类-->
    <resultMap id="userRoleVOResultMap" type="cn.kiwipeach.blog.domain.vo.UserRoleVO">
        <id column="USER_ID" property="userId"/>
        <result column="THIRD_USER_ID" property="thirdUserId"/>
        <result column="PLATFORM" property="platform"/>
        <result column="USER_NAME" property="userName"/>
        <collection property="roles" ofType="cn.kiwipeach.blog.domain.SysRole">
            <id column="ID" property="id"/>
            <result column="NAME" property="name"/>
        </collection>
    </resultMap>

    <!--查询用户的角色信息-->
    <select id="selectUserRole" resultMap="userRoleVOResultMap">
       SELECT U.ID AS USER_ID, U.THIRD_USER_ID, U.PLATFORM, U.USER_NAME, R.ID,R.NAME
        FROM SYS_USER u
        LEFT JOIN R_USER_ROLE rur ON u.id = rur.user_id
            LEFT JOIN SYS_ROLE r ON rur.role_id = r.id
        WHERE u.id = #{userId}
          </select>

</mapper>
