<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.SysUserMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.SysUser">
        <id column="ID" property="id"/>
        <result column="THIRD_USER_ID" property="thirdUserId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="PASSWORD" property="password"/>
        <result column="NICK_NAME" property="nickName"/>
        <result column="HEAD_URL" property="headUrl"/>
        <result column="EMAIL" property="email"/>
        <result column="ACCOUNT_LOCK" property="accountLock"/>
        <result column="LOCK_REASON" property="lockReason"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, THIRD_USER_ID, USER_NAME, PASSWORD, NICK_NAME, HEAD_URL, EMAIL, ACCOUNT_LOCK, LOCK_REASON, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->

</mapper>
