<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kiwipeach.blog.mapper.DemoMapper">
    <!-- auto-part create by kiwipeach [1099501218@qq.com] -->
    <resultMap id="BaseResultMap" type="cn.kiwipeach.blog.domain.Blog">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="CATE_ID" property="cateId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="STAR_COUNT" property="starCount"/>
        <result column="VIEWS" property="views"/>
        <result column="TOP" property="top"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USER_ID, CATE_ID, TITLE, CONTENT, STAR_COUNT, VIEWS, TOP, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- self-part create by kiwipeach [1099501218@qq.com] -->
    <select id="selectBlogList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        from T_BLOG t
        where t.USER_ID = #{userId}
    </select>

</mapper>
