<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图标调用案例</title>
    <!--aliyun fonticon base-->
    <script type="text/javascript" src="http://at.alicdn.com/t/font_1032912_vw8ub3a45wg.js"></script>
    <!--aliyun fonticon ext-->
    <script type="text/javascript" src="http://at.alicdn.com/t/font_1032873_28w9eh66h8l.js"></script>
    <style type="text/css">
        .alibaba-icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
发的萨菲<svg class="alibaba-icon"><use xlink:href="#icon-NexttrackFilled"></use></svg>

<svg class="alibaba-icon" style="font-size: 42px;">
    <use xlink:href="#icon-agree"></use>
</svg>

<svg class="alibaba-icon" style="font-size: 42px;">
    <use xlink:href="#icon-NexttrackFilled"></use>
</svg>

</body>
</html>