<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图标调用案例</title>
    <!--aliyun fonticon base-->
    <script type="text/javascript" src="http://at.alicdn.com/t/font_1032912_vw8ub3a45wg.js"></script>
    <!--aliyun fonticon ext-->
    <script type="text/javascript" src="http://at.alicdn.com/t/font_1032873_s1hwl2skhyf.js"></script>
    <style type="text/css">
        .alibaba-icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<svg class="alibaba-icon"><use xlink:href="#icon-home"></use></svg>

</body>
</html>