<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog::header('关于博主')">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../static/assets/images/index/apple-icon.png">
    <link rel="icon" href="../../static/assets/images/index/favicon.png">
    <title>
        关于 kiwipeach
    </title>
    <!--前端框架样式依赖开始-->
    <!--Fonts and icons-->
    <link rel="stylesheet" type="text/css"
          href="../../static/assets/css/framework/googleapis-font/googleapis-font.css"/>
    <link rel="stylesheet" href="../../static/assets/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/assets/plugins/material-kit/assets/css/material-kit.css?v=2.0.2">
    <link rel="stylesheet" href="../../static/assets/css/framework/common-base.css">
    <!--前端框架样式依赖结束-->

    <!--前段框架依赖开始-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../../static/assets/plugins/material-kit/assets/js/core/popper.min.js"></script>
    <script src="../../static/assets/plugins/material-kit/assets/js/bootstrap-material-design.js"></script>
    <script src="../../static/assets/plugins/material-kit/assets/js/plugins/moment.min.js"></script>
    <script src="../../static/assets/plugins/material-kit/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <script src="../../static/assets/plugins/material-kit/assets/js/plugins/nouislider.min.js"></script>
    <script src="../../static/assets/plugins/material-kit/assets/js/material-kit.js?v=2.0.2"></script>
    <!--前段框架依赖结束-->
</head>

<body class="index-page ">
<!--导航条:begin-->
<nav th:replace="blog::navbar" class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "
     color-on-scroll="100"
     id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="index.html"><img src="../../static/assets/images/index/me-logo.png"
                                                           alt="Circle Image"
                                                           class="rounded-circle img-fluid">KiWiPeach </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" onclick="scrollToDownload()">
                        <i class="material-icons">cloud_download</i> 首页
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="archive.html" onclick="scrollToDownload()">
                        <i class="material-icons">cloud_download</i> 归档
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html" onclick="scrollToDownload()">
                        <i class="material-icons">cloud_download</i> 关于
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> 更多
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="./index.html" class="dropdown-item">
                            <i class="material-icons">layers</i> 资料下载
                        </a>
                        <a href="http://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html"
                           class="dropdown-item">
                            <i class="material-icons">content_paste</i> Material-Kit官方手册
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://twitter.com/CreativeTim" target="_blank"
                       data-original-title="Follow us on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.facebook.com/CreativeTim" target="_blank"
                       data-original-title="Like us on Facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.instagram.com/CreativeTimOfficial" target="_blank"
                       data-original-title="Follow us on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--导航条:end-->

<!--大图文字:begin-->
<div th:replace="blog::background" class="page-header header-filter clear-filter" data-parallax="true"
     style="background-image: url('../../static/assets/plugins/material-kit/assets/img/kit/bg2.jpg'); height: 40vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h4>古人云：“临渊羡鱼，不如退而结网。”</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--大图文字:end-->

<!--主题部分:begin-->
<div class="main main-raised">
    <div class="row">
        <!--容器左侧内容:begin-->
        <div class="col-md-9">
            <!--博客顶端:begin-->
            <div class="card">
                <div class="card-body ">
                    <h4 class="card-title">
                        <a href="#pablo" style="color: grey">博文统计：本站博客共【<span class="text-dark">100</span>】个，分类【<span
                                class="text-dark">10</span>】个，标签【<span class="text-dark">16</span>】个，当前日期:<span
                                class="text-dark">2018年05月19日 星期六 10:54:29</span></a>
                    </h4>
                </div>
            </div>
            <!--博客顶端:end-->
            <!--归档历史树开始-->
            <div class="card">
                <div class="card-body animated fadeInDown">
                    <h3 class="card-title">个人简介</h3>
                    <div class="card-text">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1994年11年12月，Thanks♪(･ω･)ﾉ!
                        </p>
                    </div>
                    <h3 class="card-title">宗旨</h3>
                    <div class="card-text">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本博客的目的是为了记录博主程序生涯中遇上的一些bug，以及一些工作经验累积。
                            因为人的记忆、热情、经历都是有限的，我们需要一个唤醒我们记忆的空间，让我们随时能够重温那段经验累积的岁月中我们
                            遇见的问题，以及亲密基础的bug以及成功的捷径！
                        </p>
                    </div>
                    <h3 class="card-title">技术方向</h3>
                    <div class="card-text">
                        <p>基础语言:Java,C++</p>
                        <p>后端框架:Spring,Mybatis,Maven,Shrio,JasperReport</p>
                        <p>前段框架:JQuery,JavaScript,Bootstrap,EasyUI,LayUI...</p>
                    </div>

                </div>
            </div>
            <!--归档历史树结束-->
        </div>
        <!--容器左侧内容:end-->

        <!--容器右侧内容:begin-->
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div th:replace="blog::side_bar_profile"></div>
                    <div th:replace="blog::side_bar_common"></div>
                </div>
            </div>
        </div>
        <!--容器右侧内容:End-->
    </div>
</div>
<!--主题部分:end-->

<!--页面底部:begin-->
<footer th:replace="blog::footer" class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        博主Gitee
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        意见反馈
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        联系博主
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        友情链接
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right" style="text-align: center">
            Copyright &copy;
            <script> document.write(new Date().getFullYear())</script>
            |<a href="https://www.creative-tim.com" target="_blank" class="text-dark"> 刘卜铷的博客</a> |赣ICP备18004703号.
        </div>
    </div>
</footer>
<!--页面底部:end-->
<!--对话模态框-->
<div th:replace="blog::modal_dialog"></div>
</div>
<script type="text/javascript" src="../../static/assets/js/about/blog_about.js" th:src="@{/assets/js/about/blog_about.js}"></script>
</body>
</html>