<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog::header('博客详情页面')">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../static/assets/images/index/apple-icon.png">
    <link rel="icon" href="../../static/assets/images/index/favicon.png">
    <title>
        kiwipeach的博客详情
    </title>
    <!--前端框架样式依赖开始-->
    <!--Fonts and icons-->
    <link rel="stylesheet" type="text/css"
          href="../../static/assets/css/framework/googleapis-font/googleapis-font.css"/>
    <link rel="stylesheet" href="../../static/assets/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/assets/plugins/material-kit/assets/css/material-kit.css?v=2.0.2">
    <link rel="stylesheet" href="../../static/assets/css/framework/common-base.css">

    <!--前端框架样式依赖结束-->

    <!-- iframe removal -->
    <!--分页插件样式-->
    <link rel="stylesheet" href="../../static/assets/plugins/jquery_pagination/pagination.css">
    <!--jquery-widgets 样式-->
    <link type="text/css" rel="Stylesheet"
          href="../../static/assets/plugins/jqwidgets-ver5.7.2/jqwidgets/styles/jqx.base.css"/>
    <!--smartwizard 步骤插件(http://techlaboratory.net/smartwizard/)-->
    <!--markdown plugin-->
    <link rel="stylesheet" href="../../static/assets_admin/js/plugins/editor-md/css/editormd.preview.min.css"
          th:href="@{/assets_admin/js/plugins/editor-md/css/editormd.preview.min.css}"/>
    <link href="../../static/assets/plugins/smartwizard/dist/css/smart_wizard.css" rel="stylesheet" type="text/css"/>
    <!--theme-->
    <link href="../../static/assets/plugins/smartwizard/dist/css/smart_wizard_theme_circles.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../static/assets/plugins/smartwizard/dist/css/smart_wizard_theme_arrows.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../static/assets/plugins/smartwizard/dist/css/smart_wizard_theme_dots.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="../../static/assets/css/detail/blog.css"/>
</head>
<!--博客toc目录样式-->
<link rel="stylesheet" th:href="@{/assets/plugins/tocbot/styles.css}">
<link rel="stylesheet" th:href="@{/assets/plugins/tocbot/tocbot.css}">
<link rel="stylesheet" href="../../static/assets_admin/js/plugins/editor-md/css/editormd.preview.min.css"
      th:href="@{/assets_admin/js/plugins/editor-md/css/editormd.preview.min.css}"/>
<body class="index-page scrollspy-example-2" data-spy="scroll" data-offset="110" style="position: relative;">
<!--导航条:begin-->
<nav th:replace="blog::navbar" class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "
     color-on-scroll="100"
     id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="./index.html"><img src="../../static/assets/images/index/me-logo.png"
                                                             alt="Circle Image"
                                                             class="rounded-circle img-fluid">KiWiPeach </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" onclick="scrollToDownload()">
                        <i class="material-icons">cloud_download</i> 首页
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="archive.html" onclick="scrollToDownload()">
                        <i class="material-icons">cloud_download</i> 归档
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html" onclick="scrollToDownload()">
                        <i class="material-icons">cloud_download</i> 关于
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> 更多
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="./index.html" class="dropdown-item">
                            <i class="material-icons">layers</i> 资料下载
                        </a>
                        <a href="http://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html"
                           class="dropdown-item">
                            <i class="material-icons">content_paste</i> Material-Kit官方手册
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://twitter.com/CreativeTim" target="_blank"
                       data-original-title="Follow us on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.facebook.com/CreativeTim" target="_blank"
                       data-original-title="Like us on Facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.instagram.com/CreativeTimOfficial" target="_blank"
                       data-original-title="Follow us on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--导航条:end-->

<!--大图文字:begin-->
<div th:replace="blog::background" class="page-header header-filter clear-filter" data-parallax="true"
     style="background-image: url('../../static/assets/plugins/material-kit/assets/img/kit/bg2.jpg'); height: 40vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h4>古人云：“临渊羡鱼，不如退而结网。”</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--大图文字:end-->

<!--主题部分:begin-->
<div class="main main-raised">
    <div class="row">
        <!--容器左侧内容:begin-->
        <div class="col-md-9">

            <!--博客顶端:begin-->
            <div class="card">
                <div class="card-body ">
                    <h4 class="card-title">
                        <a href="#pablo" style="color: grey">博文统计：本站博客共【<span class="text-dark">100</span>】个，分类【<span
                                class="text-dark">10</span>】个，标签【<span class="text-dark">16</span>】个，当前日期:<span
                                class="text-dark">2018年05月19日 星期六 10:54:29</span></a>
                    </h4>
                </div>
            </div>
            <!--博客顶端:end-->

            <!--博客详情:begin-->
            <div id="content-wrap" class="card card-nav-tabs">
                <h4 class="card-header card-header">
                    <input name="blogId" th:value="${blogDetail.getId()}" type="hidden"/>
                    <input name="commentCount" th:value="${blogDetail.getCommentCount()}" type="hidden"/>
                    <input name="starCount" th:value="${blogDetail.getStarCount()}" type="hidden"/>
                    <a href="detail.html" class="text-dark"><span class="badge badge-pill badge-dark"
                                                                  th:text="${blogDetail.getCategoryName()}">Java</span><span
                            th:text="${blogDetail.getTitle()}">曾经许下的誓言让我们共同了解</span></a>
                </h4>
                <div class="card-body" id="blog_content_div">
                    <div class="card-text">
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                class="fa fa-calendar"></i></label>&nbsp;&nbsp;<span
                            th:text="${blogDetail.getUpdateTime()}">2018年5月19日02:09:25</span>
                        <label>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                    class="fas fa-user"></i></label>&nbsp;&nbsp;<span
                                th:text="${blogDetail.getNickName()}">kiwipeach</span>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                    class="fas fa-comments"></i></label>&nbsp;&nbsp;<span
                                th:text="${blogDetail.getCommentCount()}">666</span>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                    class="fas fa-eye"></i></label>&nbsp;&nbsp;<span
                                th:text="${blogDetail.getViewCount()}">98</span>
                        </label>
                    </div>
                    <!--清除浮动,博客发表时间和标签浮动-->
                    <div class="clearfix"></div>
                    <div id="content" class="card-text">
                        <!--存放文章内容-->
                        <div class="row">
                            <div id="article-content-div" class="js-toc-content">

                            </div>
                        </div>
                        <!--博客详情渲染-->
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/marked.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/marked.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/prettify.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/prettify.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/raphael.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/raphael.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/underscore.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/underscore.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/sequence-diagram.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/sequence-diagram.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/flowchart.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/flowchart.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/lib/jquery.flowchart.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/lib/jquery.flowchart.min.js}"></script>
                        <script src="../../static/assets_admin/js/plugins/editor-md/editormd.min.js"
                                th:src="@{/assets_admin/js/plugins/editor-md/editormd.min.js}"></script>
                        <script type="application/javascript" th:inline="javascript">
                            var markdown = /*[[${blogDetail.content}]]*/ "test.md";
                            $('#article-content-div').html('');
                            $(function () {
                                testEditormdView = editormd.markdownToHTML("article-content-div", {
                                    markdown: markdown,
                                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                                    tocm: true,    // Using [TOCM]
                                    emoji: true,
                                    taskList: true,
                                    tex: true,  // 默认不解析
                                    flowChart: true,  // 默认不解析
                                    sequenceDiagram: true,  // 默认不解析
                                });
                                blog_common.plugin.tocbot_catalog_plugin.init();
                                blog_common.plugin.tocbot_catalog_plugin.event.bind_outline_scroll();
                            });
                        </script>
                    </div>
                    <hr>

                    <!--点赞评论:begin-->
                    <div class="row">
                        <div style="font-size: 18px;padding-top: 20px;text-align: left;font-weight: bold"
                             class="col-md-4">
                            <a href="detail.html"
                               th:href="@{/blog/detail/{blogId}(blogId=${blogDetail.getPreviousBlog().getId()})}"
                               class="text-dark">
                                <svg class="alibaba-icon" aria-hidden="true">
                                    <use xlink:href="#icon-PrevioustrackFill"></use>
                                </svg>
                                <span th:text="${blogDetail.getPreviousBlog().getTitle()}"></span></a>
                        </div>
                        <div class="col-md-4 text-center">
                            <!--点赞按钮-->
                            <button class="btn btn-sm btn-primary btn-round" style="font-size: 24px;"
                                    onclick="blogAgreeClick(this)"
                                    th:attr="comment-type='B_BLOG_COMMENT',comment-blogId=${blogDetail.getId()},comment-parentId=${blogDetail.getId()},comment-count=${blogDetail.getStarCount()}">
                                <svg class="alibaba-icon">
                                    <use xlink:href="#icon-agree"></use>
                                </svg>
                                ([[${blogDetail.getStarCount()}]])
                            </button>
                            <!--评论按钮-->
                            <button id="commentReplyBtn" class="btn btn-primary btn-round" style="font-size: 18px;"
                                    onclick="showBlogCommentReplyDialog(this)"
                                    comment-type="B_BLOG_COMMENT"
                                    th:attr="comment-url='/commentReply/comment/create',comment-passiveUserId=${blogDetail.getUserId()},comment-parentId=${blogDetail.getId()},comment-count=${blogDetail.getStarCount()}">
                                <i class="fas fa-comment"></i>([[${blogDetail.getCommentCount()}]])
                            </button>
                        </div>


                        <div style="font-size: 18px;padding-top: 20px;text-align: right;font-weight: bold"
                             class="col-md-4">
                            <a href="detail.html"
                               th:href="@{/blog/detail/{blogId}(blogId=${blogDetail.getNextBlog().getId()})}"
                               class="text-dark">
                                <span th:text="${blogDetail.getNextBlog().getTitle()}"></span>
                                <svg class="alibaba-icon" aria-hidden="true">
                                    <use xlink:href="#icon-NexttrackFilled"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!--点赞评论:end-->

                    <!--文章转载须知信息:begin-->
                    <div class="card col-md-10 offset-md-1">
                        <div class="card-body text-dark text-center">
                            <p class="card-title">
                                <span>最近更新：</span>
                                <span th:text="${blogDetail.getUpdateTime()}">2018年5月21日10:00:02</span>
                            </p>
                            <p class="card-title">
                                <span>转载须知：</span>
                                <span><a href="#">转载请保留原文链接出处，谢谢支持.</a></span>
                            </p>
                            <p class="card-title">
                                <span>文章链接：</span><span><a id="blogHref" href="#">http://localhost:63342/kiwipeach-blog-ui/blog_detail.html#</a></span>
                                <script type="application/javascript">
                                    $(function () {
                                        $('#blogHref').html(window.location.href);
                                    })
                                </script>
                            </p>


                        </div>
                    </div>
                    <!--文章转载须知信息:end-->
                </div>

            </div>
            <!--博客详情:end-->

            <!--评论专区:begin-->

            <!--单条完成评论：begin-->
            <!-- <div class="card">
                 <div class="card-body comment-body">
                     <div class="author">
                         <a href="#pablo">
                             <img src="/assets/images/index/me-logo.png"
                                  alt="..." class="avatar img-raised">
                             <span>Lord Alex</span>
                         </a>
                     </div>
                     <h6 class="card-title">
                         <a href="#pablo">你的回复也很棒棒喔(#^.^#)</a>
                     </h6>
                     <div class="collapse" id="collapseExample">
                         <div  id="commentReplyContainer">
                             <div class="card" style="background: #f9f7f7;margin: 3px 0px 3px 0px">
                                 <div class="card-body" style="padding: 10px 0px 0px 15px">
                                     <div class="author">
                                         <a href="#pablo">
                                             <img src="/assets/images/index/me-logo.png"
                                                  alt="..." class="avatar img-raised">
                                             <span>Lord Alex&nbsp;&nbsp;&nbsp;<label>回复</label>&nbsp;&nbsp;&nbsp;kiwipeach</span>
                                         </a>
                                     </div>
                                     <h6 class="card-text">
                                         <a href="#pablo" class="text-dark">我是回复内容</a>
                                     </h6>
                                 </div>
                                 <div class="card-footer" style="padding: 0px 15px 10px 15px">
                                     <div class="stats ml-auto">
                                         <a href="javascript:;" class="text-dark" title="点赞">
                                             <svg class="alibaba-icon" aria-hidden="true">
                                                 <use xlink:href="#icon-agree"></use>
                                             </svg>
                                             45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                         <a href="#collapseExample"class="text-dark" title="回复" data-toggle="collapse"><i class="fa fa-reply"></i>回复</a>
                                     </div>
                                 </div>
                             </div>

                             <div class="card" style="background: #f9f7f7;margin: 3px 0px 3px 0px">
                                 <div class="card-body" style="padding: 10px 0px 0px 15px">
                                     <div class="author">
                                         <a href="#pablo">
                                             <img src="/assets/images/index/me-logo.png"
                                                  alt="..." class="avatar img-raised">
                                             <span>Lord Alex&nbsp;&nbsp;&nbsp;<label>回复</label>&nbsp;&nbsp;&nbsp;kiwipeach</span>
                                         </a>
                                     </div>
                                     <h6 class="card-text">
                                         <a href="#pablo" class="text-dark">我是回复内容</a>
                                     </h6>
                                 </div>
                                 <div class="card-footer" style="padding: 0px 15px 10px 15px">
                                     <div class="stats ml-auto">
                                         <a href="javascript:;" class="text-dark" title="点赞">
                                             <svg class="alibaba-icon" aria-hidden="true">
                                                 <use xlink:href="#icon-agree"></use>
                                             </svg>
                                             45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                         <a href="#collapseExample"class="text-dark" title="回复" data-toggle="collapse"><i class="fa fa-reply"></i>回复</a>
                                     </div>
                                 </div>
                             </div>

                             <div class="card" style="background: #f9f7f7;margin: 3px 0px 3px 0px">
                                 <div class="card-body" style="padding: 10px 0px 0px 15px">
                                     <div class="author">
                                         <a href="#pablo">
                                             <img src="/assets/images/index/me-logo.png"
                                                  alt="..." class="avatar img-raised">
                                             <span>Lord Alex&nbsp;&nbsp;&nbsp;<label>回复</label>&nbsp;&nbsp;&nbsp;kiwipeach</span>
                                         </a>
                                     </div>
                                     <h6 class="card-text">
                                         <a href="#pablo" class="text-dark">我是回复内容</a>
                                     </h6>
                                 </div>
                                 <div class="card-footer" style="padding: 0px 15px 10px 15px">
                                     <div class="stats ml-auto">
                                         <a href="javascript:;" class="text-dark" title="点赞">
                                             <svg class="alibaba-icon" aria-hidden="true">
                                                 <use xlink:href="#icon-agree"></use>
                                             </svg>
                                             45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                         <a href="#collapseExample"class="text-dark" title="回复" data-toggle="collapse"><i class="fa fa-reply"></i>回复</a>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         &lt;!&ndash;回复分页插件&ndash;&gt;
                         <div class="row"><div id="blog_reply_pagination_div" style="margin: 5px auto;"></div></div>
                     </div>

                     <script src="../../static/assets/plugins/jquery_pagination/jquery.pagination.js"
                             th:src="@{/assets/plugins/jquery_pagination/jquery.pagination.js}"></script>
                     <script type="text/javascript">
                         var opt = {
                             total: 236,
                             items_per_page: 5,
                             num_display_entries: 3,
                             num_edge_entries: 2,
                             next_text: '下一页',
                             prev_text: '前一页',
                             callback: function (new_page_index, pagination_container) {
                                 console.log("当前页码:" + new_page_index)
                                 return false;
                             }
                         };
                         blog_common.plugin.pagination.init($("#blog_reply_pagination_div"), opt);
                     </script>
                 </div>
                 <div class="card-footer ">
                     <div class="stats ml-auto">
                         <a href="javascript:;" class="text-dark">
                             <i class="fa fa-thumbs-up"></i>
                             45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                         <a class="text-dark" title="回复"><i class="fa fa-reply"></i>回复&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                         <a href="#collapseExample" class="text-dark blog-comment-collapse" data-toggle="collapse" data-status="closed"><span>查看回复(38)</span><i class="fa fa-chevron-down"></i></a>
                     </div>
                 </div>
             </div>-->
            <!--单条完成评论：end-->

            <div id="blogCommentContainer">
            </div>
            <!--评论专区:end-->
        </div>
        <!--容器左侧内容:end-->

        <!--容器右侧内容:begin-->
        <div class="col-md-3">
            <div class="row">
                <!--右侧网站信息:begin-->
                <div class="col-md-12">

                    <!--网站和个人信:begin-->
                    <div th:replace="blog::side_bar_profile"></div>
                    <!--加载用户信息-->

                    <!--bootstrap4文章导航:begin-->
                    <div id="outline_div" class="post-nav hidden-xs side-outline hidden-sm"
                         style="display: block; position: relative;width: 300px;">
                        <div class="panel panel-default widget-outline">
                            <div class="panel-body">
                                <!--目录大纲放在这里-->
                                <nav class="toc toc-right js-toc"></nav>
                            </div>
                        </div>
                    </div>
                    <!--bootstrap4文章导航:end-->
                </div>
            </div>
            <!--右侧网站信息:end-->

        </div>
        <!--容器右侧内容:end-->
    </div>
</div>
<!--主题部分:end-->

<!--页面底部:begin-->
<footer th:replace="blog::footer" class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        博主Gitee
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        意见反馈
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        联系博主
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        友情链接
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right" style="text-align: center">
            Copyright &copy;
            <script> document.write(new Date().getFullYear())</script>
            |<a href="https://www.creative-tim.com" target="_blank" class="text-dark"> 刘卜铷的博客</a> |赣ICP备18004703号.
        </div>
    </div>
</footer>
<!--页面底部:end-->
</div>
<!--对话模态框-->
<div th:replace="blog::modal_dialog"></div>

<!--博客评论回复弹框-->

<div class="modal fade" tabindex="-1" id="commentReplyDialog">
    <div class="modal-dialog modal-login" role="document" style="width:100%;">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                                class="material-icons">clear</i></button>
                        <h4 class="card-title">评论回复</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <h4 class="description text-center" id="loginTipInfo">文明发言，共建和谐社区</h4>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="commentMessageText">请输入内容：</label>
                            <textarea id="commentMessageText" class="form-control comment_reply_textarea"
                                      placeholder="评论支持markdown语法"></textarea>
                        </div>
                        <!--<div class="form-group">
                            <label for="exampleFormControlInput1">请输入验证码：</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="sendCommentReplyBtn" type="button" onclick="commentReplySendClick()"
                            class="btn btn-primary btn-round"
                            style="margin-bottom: 30px;width: 300px;">发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--前段框架依赖开始-->
<script type="text/javascript" src="../../static/assets/js/detail/blog_detail.js"
        th:src="@{/assets/js/detail/blog_detail.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var fistTime2Bottom = false;
    var blogId = /*[[${blogDetail.getId()}]]*/ "109950";
    (function ($, window) {
        // 默认事件(回到顶部)
        blog_common.defaul_plugin_init();
        // 默认加载评论信息
        loadBlogCommentRequest({
            queryType: 'B_BLOG_COMMENT',
            parentId: blogId,
            current: currentIndex,
            size: 3
        });
        // 滚动检测加载评论信息
        blogCommentScroll({
            queryType: 'B_BLOG_COMMENT',
            parentId: blogId,
            current: currentIndex,
            size: 5
        });
        // 模态框关闭处理
        commentReplyDialogClose();

    })(jQuery);
</script>
</body>
</html>