<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog::header('kiwipeach\'s blog')"></head>
<body>
<div class="index-page">
    <!--导航条:begin-->
    <nav th:replace="blog::navbar" class="navbar navbar-color-on-scroll navbar-transparent  fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav"></nav>
    <!--导航条:end-->

    <!--大图文字:begin-->
    <div th:replace="blog::background" class="page-header header-filter clear-filter big_bg" data-parallax="true"
         style="background-image: url('../../static/assets/plugins/material-kit/assets/img/kit/bg2.jpg'); height: 40vh;">
    </div>
    <!--大图文字:end-->

    <!--主题内容-->
    <div class="main main-raised">
        <div class="row">
            <!--容器左侧内容:begin-->
            <div class="col-md-9">
                <!--博客顶端:begin-->
                <div th:replace="blog::banner(${sysBannerInvoVO.blogCount},${sysBannerInvoVO.tagCount},${sysBannerInvoVO.blogCount},${sysBannerInvoVO.commentReplyCount},${sysBannerInvoVO.formateNowDate})"></div>
                <!--博客顶端:end-->
                <div id="blogContainer">
                </div>
                <!--分页插件:begin-->
                <div class="row">
                    <div id="blog_pagination_div" style="margin: 0 auto"></div>
                </div>
                <script src="../../static/assets/plugins/jquery_pagination/jquery.pagination.js"
                        th:src="@{/assets/plugins/jquery_pagination/jquery.pagination.js}"></script>
                <script type="text/javascript">
                    /*首页默认加载博客*/
                    blog_common.http.showBlogPage();
                </script>
                <!--分页插件:end-->
            </div>

            <!--容器左侧内容:end-->

            <!--容器右侧内容:begin-->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="blog::side_bar_profile"></div>
                        <div th:replace="blog::side_bar_common"></div>
                    </div>
                </div>
            </div>
            <!--容器右侧内容:End-->


        </div>
        <!--页面底部:begin-->
        <footer th:replace="blog::footer" class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                博主Gitee
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                意见反馈
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                联系博主
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/license">
                                友情链接
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right" style="text-align: center">
                    Copyright &copy;
                    <script> document.write(new Date().getFullYear())</script>
                    |<a href="https://www.creative-tim.com" target="_blank" class="text-dark"> 刘卜铷的博客</a>
                    |赣ICP备18004703号.
                </div>
            </div>
        </footer>
        <!--页面底部:end-->
    </div>


</div>
<!--对话模态框-->
<div th:replace="blog::modal_dialog"></div>

<script type="text/javascript" src="../../static/assets/js/index/blog_index.js"
        th:src="@{/assets/js/index/blog_index.js}"></script>
</body>


</html>